node_modules
npm-debug.log

tmp
temp
TODO.md
*.sublime-*

_dist/
.grunt/*
newrelic.log
*.log
_docs
logs

.idea/*

.DS_Store
.DS_Store?

lib-cov
transformers-cov
ui-cov
filters-cov
reports
*.tap
dump.rdb

/.project
